{% extends '_base.html' %}
{% load static %}
{% block title %}View Requests{% endblock %}
{% block main %}
<div class="content">
    <div class="container">
        <h2>Help Us Find Donors</h2>
    
        <ul class="grid-list">
            {% for request in donation_requests %}

            <li class="ist-item">
                <a class="item-link" href="/donate/request/{{request.id}}/">
                    <div class="AvatarCardContainer">
                        <div class="NameAvatarBox">
                        <div class="AvatarBloodGroupDiv">
                        <div class="AvatarProgressFrame">
                        <div class="ProgressElipseDiv">
                        <div class="ProgreesRings">
                        <div class="Ellipse2"></div>
                        <div class="Ellipse1"></div>
                        <img class="AvatarFrame" src="{% static 'images/OIP.jpeg' %}" />
                        <div class="BloodgroupLabel">
                            <div class="BloodgroupText">{{request.blood_group}}</div>
                        </div>
                        <div class="AvatarLabel">
                            <div class="AvatarLabelText">
                                {{ request.patient_name|slice:"0:8" }}
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        
            {% empty %}
            <li class="list-group-item">No donation requests available.</li>

            {% endfor %}
        </ul>

        <div class="text-center mt-4">
            <a href="/create_request/" class="btn btn-primary" style="background-color: #F92929; font-size: 1.1em; padding: 10px 20px; color: #fff;">Create Request</a>
        </div>
    
    </div>
</div>
{% endblock %}