.HeroSectionImg {
    position: relative;
    height: 100vh; /* 100% of the viewport height */
    /* padding: 147px 193px; */
    
    justify-content: center;
    align-items: center;
    gap: 49px;
    background-image: url('DonorQuest/backend/static/images/jackson-david-8qudl9pDZJ0-unsplash (1).jpg');
    background-size: cover;
    background-position: center;
    /* z-index: 0; */
}

.HeroContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    padding-top: 5%;
}


.HeroTextBox {
    display: flex;
    padding: 43px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 

.HeroText {
    width:1066px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.HeroButtonBox {
    margin-left: 30%;
    display: flex;
    width: 359px;
    height: 70px;
    padding: 3px 29px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: center;
    flex-shrink: 0;

}

.HeroButton {
    display: flex;
    width: 230px;
    height: 63px;
    padding: 9px 42px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 68px;
    background: #F92929;
}

.HeroButtonText {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 129px;
    flex-shrink: 0;
}

.MainSection {
    width: 100%; 
    height: 100%; 
    padding-top: 128px; 
    padding-bottom: 102px; 
    padding-left: 102px; 
    padding-right: 209px; 
    background: white; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;
    text-decoration: none;
}


.SectionGroup {
    align-self: stretch; 
    padding-left: 47px; 
    padding-right: 47px; 
    padding-top: 25px; 
    padding-bottom: 25px; 
    justify-content: center; 
    align-items: center; 
    gap: 69px; 
    display: inline-flex;
    text-decoration: none;
}

.SectionItemText {
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 32px; 
    padding-bottom: 32px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 1px; 
    display: inline-flex;
    text-decoration: none;
}

.TextBox {
    height: 244px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 17px; 
    display: flex
}

.TextBoxH1 {
    width: 581px; 
    color: #F92929; 
    font-size: 39px; 
    font-family: Inter; 
    font-weight: 900; 
    word-wrap: break-word;
    text-decoration: none;
}

.TextBoxP {
    width: 556px; 
    height: 133px; 
    text-align: justify; 
    color: #666666; 
    font-size: 18px; 
    font-family: Inter; 
    font-weight: 500; 
    word-wrap: break-word;
    text-decoration: none;
}

.ButtonDiv {
    width: 148px;
    height: 70px;
    padding-bottom: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    text-decoration: none;
}

.SectionButton {
    width: 143px; 
    height: 48px; 
    padding-left: 5px; 
    padding-right: 5px; 
    padding-top: 9px; 
    padding-bottom: 9px; 
    background: #F92929; 
    border-radius: 3px; 
    overflow: hidden; 
    text-decoration: none;
}

.GetStarted {
    /* width: 116px;  */
    text-align: center; 
    color: white; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word;
    text-decoration: none;
}

.SectionItemImg {
    width: 453px; 
    height: 442px;
}
.MainSection{
    border-bottom: lightgrey 1px solid;
}
