.HeroSectionImg {
    position: relative;
    height: 100vh; /* 100% of the viewport height */
    /* padding: 147px 193px; */
    justify-content: center;
    align-items: center;
    gap: 49px;
    background-image: url('DonorQuest/backend/static/images/jackson-david-8qudl9pDZJ0-unsplash (1).jpg');
    background-size: cover;
    background-position: center;
    /* z-index: 0; */
}

.HeroContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    padding-top: 5%;
}


.HeroTextBox {
    display: flex;
    padding: 43px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 

.HeroText {
    width:1066px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.HeroButtonBox {
    margin-left: 30%;
    display: flex;
    width: 359px;
    height: 70px;
    padding: 3px 29px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: center;
    flex-shrink: 0;

}

.HeroButton {
    display: flex;
    width: 230px;
    height: 63px;
    padding: 9px 42px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 68px;
    background: #2F2BF4;
}

.HeroButtonText {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 129px;
    flex-shrink: 0;
}

