@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.wrapper {
    width: auto;
    /* padding: 20px; */
    border-radius: 5px;
    margin-left: 40px;
    padding-top: 50px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  
  .slide-controls .slide {
    height: 100%;
    width: 70%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  
  .slide-controls label.signup {
    color: #000;
  }
  
  .slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: red;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  input[type="radio"] {
    display: none;
  }
  
  #signup:checked ~ .slider-tab {
    left: 50%;
  }
  
  #signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
  }
  
  #signup:checked ~ label.login {
    color: #000;
  }
  
  #login:checked ~ label.signup {
    color: #000;
  }
  
  #login:checked ~ label.login {
    cursor: default;
    user-select: none;
  }
  
  .wrapper .form-container {
    width: 100%;
    overflow: hidden;
  }
  
  .form-container .form-inner {
    display: flex;
    width: 200%;
  }
  
  .form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  /* Do not delete */
  .form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }

  /* Do not delete */
  .form-inner form .field input {
    height: 100%;
    width: 90%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  } 
  
  .form-inner form .field input:focus {
    border-color: red;
  }
  
  .form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
  }
  
  form .field input:focus::placeholder {
    color: #b3b3b3;
  }
  
  .form-inner form .pass-link {
    margin-top: 5px;
  }
  
  .form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
  }
  
  .form-inner form .pass-link a,
  .form-inner form .signup-link a {
    color: #0e45dd;
    text-decoration: none;
  }
  
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover {
    text-decoration: none;
  }
  
  form .btn,
  form .btn .btn-layer {
      height: 50px;
      width: auto;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      padding-left: 20px;
      padding-right: 20px;
  }
  
  form .btn .btn-layer {
      width: 280%;
      padding-left: 20px;
      padding-right: 20px;
      position: absolute;
      background: red;
      border-radius: 5px;
      transition: all 0.4s ease;
  }
  
  
  form .btn input[type="submit"] {
    height: 100%;
    width: auto;
    z-index: 2;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* Add this part for the new input fields and dropdown */
  .field select {
    background-color: #f0f0f0; /* Light gray background */
    border: none;
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .field select:after {
    content: '\25BC'; /* Down arrow character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Initially hide the first name, last name, and blood group fields */
  .signup .field:nth-child(4),
  .signup .field:nth-child(5),
  .signup .field:nth-child(6) {
    display: none;
  }
  /* Your existing CSS goes here */


