/* This styles the front page of the project */
/* main.css */
body {
    background-image: url('your-background-image.jpg'); /* Replace with your image path */
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif; /* Change the font family as needed */
    margin: 0;
    overflow-y: scroll;
  }
  
  .header {
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid rgba(128, 128, 128, 0.3); /* Greyish and spottable border */
  }
  
  .header .navbar-nav .nav-link {
    color: inherit; /* Inherit text color from the parent */
    font-weight: bold; /* Make text bold */
  }
  
  .header .logo-div {
    margin-left: auto;
    margin-right: 20px; /* Adjust spacing from the right */
    color: inherit; /* Inherit text color from the parent */
    text-decoration: none; /* Remove underlines */
  }
  
  .header .navbar-toggler-icon {
    color: white; /* Set color of the hamburger icon */
  }
  
  .header .navbar-toggler {
    border: none; /* Remove border from the hamburger icon button */
  }
  
  .header .navbar-light .navbar-toggler-icon {
    color: white; /* Set color of the hamburger icon */
  }
  
  .header .navbar-toggler:focus {
    outline: none; /* Remove focus outline from the hamburger icon button */
  }
  
  .header .navbar-collapse {
    justify-content: flex-end;
  }
  
  .header .navbar-nav .menu-item {
    margin: 0 15px; /* Adjust spacing between menu items */
  }
  
  .header .login-button {
    background-color: navy;
    margin-right: 20px; /* Adjust spacing from the right */
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px; /* Add round edges to the button */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  .header .login-button:hover {
    background-color: darkblue;  /* Change color on hover */
    /* add a shadow so when the button is hovered it looks like it's being pressed */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .footer {
    background-color: brown;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
  }
  
  .footer .footer-bottom {
    background-color: black;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
  }
  