

/* new classes */
.AvatarCardContainer {
  width: 100%;
  height: 100%;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 21px;
  padding-right: 22px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  overflow: hidden;
  border: 1px rgba(0, 0, 0, 0.20) solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
   /* Add a transition for a smooth effect */
   transition: transform 0.2s ease-in-out;

}


/* Apply the hover effect on hover */
.AvatarCardContainer:hover {
  transform: translateY(-5px); /* Move the element up slightly on hover */
  border: 1px #F92929 solid
}

.NameAvatarBox {
  align-self: stretch;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 18px;
  display: inline-flex;


}
.AvatarBloodGroupDiv {
  width: 155px;
  height: 131px;
  position: relative;
}

.AvatarProgressFrame {
  height: 126px;
  padding-bottom: 5px;
  left: 11px;
  top: 5px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.ProgressElipseDiv {
  width: 120px;
  height: 120px;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  display: flex;
  align-items: center;
}

.ProgreesRings {
  width: 120px;
  height: 120px;
  position: inherit;
  align-self: center;
  padding-bottom: inherit;
  align-items: center;

}

.Ellipse2 {
  width: 120px;
  height: 121px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #A7DCC9;
  border-radius: 9999px;
  border: 0.50px rgba(0, 0, 0, 0.24) solid;
}
.Ellipse1 {
  width: 120px;
  height: 121px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #26F36A;
  border-radius: 9999px;
  border: 0.25px #07A93D solid;
}

.AvatarFrame {
  width: 94px;
  height: 94px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
  border-radius: 45px;
  display: block;
  margin: auto;
  /* padding: 25px; */
  margin-top: 25px;
  -ms-interpolationmode: bicubic;
  image-rendering: -webkit-optimize-contrast;
  object-fit: cover;
}

.BloodgroupLabel {
  width: 40px;
  padding-top: 11px;
  padding-bottom: 106px;
  padding-left: 6px;
  left: 117px;
  top: 0px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.BloodgroupText {
  width: 35px;
  height: 19px;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

.AvatarLabel {
  width: 118px;
  padding-top: 24px;
  padding-bottom: 3px;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  gap: 10px;
  display: inline-flex;
}

.AvatarLabelText {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

/* Style the grid layout */
.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Adjust the column width as needed */
  gap: 20px; /* Add spacing between grid items */
  list-style: none;
  padding: 0;
}

/* Style each list item */
.list-item {
  background-color: #fff; /* Set the background color */
  border: 1px solid #ddd; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  display: flex; /* Use flexbox for centering content */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  overflow: hidden; /* Hide overflowing content */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  width: 100%;
}

/* Style the item link */
.item-link {
  display: block;
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Set link color */
}



/* Style for empty list */
.grid-list li.list-group-item {
  text-align: center;
}


/* Kevin's Update */
/* Custom CSS for the AvatarCardContainer */
/* .AvatarCardContainer {
  width: 100%;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
   /* Add a transition for a smooth effect */
   /* transition: transform 0.2s ease-in-out; */
/* } */ 

/* Apply the hover effect on hover */
/* .AvatarCardContainer:hover {
  transform: translateY(-5px); /* Move the element up slightly on hover */
  /* border: 1px #F92929 solid; */
/* } */

/* Style the grid layout */
/* .grid-list {
  list-style: none;
  padding: 0;
} */

/* Style each list item */
/* .list-item {
  background-color: #f2f2f2; /* Gray background */
  /* border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  min-width: 150px; 
  text-align: center;
  padding: 10px;
} */ 

/* Style the item link */
/* .item-link {
  text-decoration: none;
  color: #333;
} */

/* Style for empty list */
/* .grid-list li.list-group-item {
  text-align: center;
} */
